# Python
__pycache__/
*.pyc
venv/
.venv/
env/

# Flask / database
*.db
*.sqlite3
instance/

# Environment files
.env
backend/.env
frontend/.env

# React / Node
node_modules/
frontend/build/
build/
dist/

# OS / editor
.DS_Store
.vscode/
.idea/
